# Node.js dependencies

/node_modules/

# Environment variables

.env

# Logs
.DS_Store
\*.log

# OS-specific files

.DS_Store
Thumbs.db

# npm package-lock files

package-lock.json

# VSCode settings

.vscode/

# build files

dist/

# Ignore config files or directories that are meant to be private

/configs
